{% extends 'page1.html' %}

{% block start %}


<div id=mainappcontainer>
       
    <a href="login">Login</a>
    <button href="signup/">SignUp</button>
    <img src="/usman_static/medicine.jpg" alt="medicine-background" height=100% width=130%>
    <div id=nav-bar>
            <center> <h3>  <strong>"</strong> Welcome To Your Pharmacy  <strong>"</strong> 
                </h3></center>
            </div>
    <div id=welcome-select>
        We Play A Better Role To Enhance The 
        Health Of Our Socirty, Because We Belive That Our Society Depends On Your Health
    </div>
    <div id=slogan>
      No Pharmacy, But A Family
    </div>
</div>
   
{% endblock %}


<a href='login'>login</a>
<a href="signup">Signup</a>