
{% extends 'page1.html' %}

{% block start %}
<form action="/accounts/signup/" method=POST id=add-form3>
    {% csrf_token %}
    
    {{ form }}
    <input type="submit" value="Create" name=submit>
    </form>
<div id=mainappcontainer>
       
        <img src="/usman_static/medicine.jpg" alt="medicine-background" height=100% width=120%>
        <div id=nav-bar>
                <center> <h3>  <strong>"</strong> Welcome To Your Pharmacy  <strong>"</strong> 
                    </h3></center>
                </div>
        
        <div id=slogan>We know you better
        </div>
    </div>
{% endblock %}