
{% extends 'page1.html' %}
{% block start %}
   <div id=nav-bar>
            <center> <h3>  <strong>"</strong> Welcome To Your Pharmacy  <strong>"</strong> 
                </h3></center>
                <form action="/accounts/logout/" method=post id=logout>
                        {% csrf_token %}
                        <input type="submit" value="Logout" name=logout>
                        </form>
                <a href="{% url 'stocks-app:add-stock' %}" id=a1>Add Stocks Here </a>
           
        </div>
            
            <div id=detail-table>
                        <img src="/usman_static/images2.jpg" alt="medicine-background" height=100% width=100%>
       

                        <table>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Medicine
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        Total
                                    </th>
                                </tr>
                            {% for item in data %}
                            
                            <tr>
                                <td>
                                    {{item.name}}
                                </td>
                                <td>
                                    {{item.medi}}
                                </td>
                                
                                <td>
                                        {{item.qty}}
                                    </td>
                                <td>
                                    {{item.total}}
                                </td>
                            </tr>
                            {% endfor %}
                            
                            </table></div>
{% endblock %}